.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-shadow-color);
}

.header-nav{
    padding: 0.5em 0;
}

.header-nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
}

.header-nav__link-logo-container{
    position: relative;
    display: flex;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover{
    box-shadow: 0 0 1rem 0 var(--primary-highlight);
    /* height: 100%; */
}

.header-nav__link-logo {
    height: 100%;
}

.header-nav__link-logo-container::after{
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    height: 0.125rem;
    width: 0;
    background-color: var(--secondary-highlight-color);
    transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover::after{
    width: 100%;
}

.header-nav__logo{
    height: 100%;
}

.header-nav__menu-icon-label{
    font-size: 2rem;
    cursor: pointer;
    transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover{
    text-shadow: 
    0 0 0.25rem var(--primary-highlight),
    0 0 0.5rem var(--primary-highlight);
}

.header-nav__menu-icon-checkbox{
    display: none;
}

.header-nav__menu-icon-checkbox:checked + .header-nav__menu-link-list{
    left: 0;
}

.header-nav__menu-link-list{
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 100%;
    height: calc(100% - 4rem);/*siempre debe tener espacio entre operadores*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    background-color: var(--primary-shadow-color);
    list-style: none;
    transition: var(--all-transitions);
}

.header-nav__menu-link-item{
    display: flex;
    color:var(--text-color);
    text-decoration: none;
}

.header-nav__menu-link{
    position: relative;
    color: var(--text-color);
    text-decoration:none;
    font-weight: 700;
    transition: var(--all-transitions);
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active{
    color:var(--primary-highlight);
}

.header-nav__menu-link::after{
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.0625rem;
    background-color: var(--secondary-highlight);
    transition: var(--all-transitions);
}

.header-nav__menu-link:hover::after,
.header-nav__menu-link--active{
    width: 100%;
}

@media (min-width:854px){
    .header-nav__menu-icon-label{
        display: none;
    }

    .header-nav__menu-link-list{
        position: static;
        width: auto;
        flex-direction: row;
        gap: 1.5rem;
        background-color: transparent;
        list-style: none;
    }
}